
body{
 /*background-image: url(../images/bg.jpg);
*/ background-repeat: no-repeat;
 background-size: cover;
 color: #5b4650; 
font-family: 'Ruslan Display', cursive;
background-image: url(../images/retro-pattern.png);
background-color: #fff;
height: 100vh;
 }
h1{
	font-size:50px;
	margin-bottom: 0;
	background-color: rgba(51,51,51,0.75);
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #00BCD9; 
}
h2{
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #bf35a7;
}

#me{
	height: 200px;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	border-color: #3E49BB;
	/*margin-top: 50px;*/

}
.about{
	width: 100%;
	font-size: 20px;
	line-height: 1.5;
	background-color: rgba(51,51,51,0.10);
	font-family: 'Pacifico', cursive;
}

.container{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}